<div class="container">
        <div class="row">
                <div class="col-md-12">
                        <div class="jumbotron">
                                <h1 class="display-4">Worktime manager</h1>
                                <p class="lead"> This is a simple application designed to manage tasks using the kanban
                                        methodology.</p>
                                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                        </div>
                </div>
        </div>
        <br>
        <div class="row">
                <div class="col-md-12">
                        <div class="panel panel-default">
                                <div class="panel-body">
                                                <p>This is an application developed for one of the subjects on Cracow University of Technology. The application uses Angular framework and Firebase technology for backend purposes.</p>
                                                <p>The application presents the implementation of kanban mechanisms using Angular framework and Syncfusion components.</p>
                                </div>
                        </div>
                </div>
        </div>
        <br>
        <div class="row">
                <div class="col-md-12">
                        <p><img src="assets/icon-board.png" style="width: 48px;"> Boards: {{numberOfBoards}}</p>
                        <p><img src="assets/icon-task.png" style="width: 48px;"> Tasks: {{numberOfTasks}}</p>
                </div>
        </div>
</div>